{{ template "header.html" }}
<h2>{{ .Owner.NickName }}さんのプロフィール</h2>

<div class="row" id="prof">
  <dl class="panel panel-primary">
    <dt>アカウント名</dt><dd id="prof-account-name">{{ .Owner.AccountName }}</dd>
    {{ if .Private }}
    <dt>メールアドレス</dt><dd id="prof-email">{{ .Owner.Email }}</dd>
    {{ end }}
    {{ with .Profile}}
    <dt>姓</dt><dd id="prof-last-name">{{if .LastName }}{{ .LastName }}{{else}}未入力{{end}}</dd>
    <dt>名</dt><dd id="prof-first-name">{{ if .FirstName }}{{ .FirstName }}{{else}}未入力{{end}}</dd>
    {{ if $.Private }}
    <dt>性別</dt><dd id="prof-sex">{{ if .Sex }}{{ .Sex }}{{else}}未入力{{end}}</dd>
    <dt>誕生日</dt><dd id="prof-birthday">{{ if .Birthday.Valid }}{{ .Birthday.Time.Format "1月2日" }}{{else}}未入力{{end}}</dd>
    <dt>住んでいる県</dt><dd id="prof-pref">{{ if .Pref }}{{ .Pref }}{{else}}未入力{{end}}</dd>
    {{ end }}
    {{ end }}
  </dl>
</div>

<h2>{{ .Owner.NickName }}さんの日記</h2>
<div class="row" id="prof-entries">
  {{ range .Entries }}
  {{ if or (not .Private) $.Private }}
  <div class="panel panel-primary entry">
    <div class="entry-title">タイトル: <a href="/diary/entry/{{ .ID }}">{{ .Title }}</a></div>
    <div class="entry-content">
      {{ $content := substring .Content 60 }}
      {{ range (split $content "\n") }}
      {{ . }}<br/>
      {{ end }}
    </div>
    <div class="entry-created-at">更新日時: {{ .CreatedAt }}</div>
  </div>
  {{ end }}
  {{ end }}
</div>

<h2>あなたは友だちではありません</h2>
<div id="profile-friend-form">
  <form method="POST" action="/friends/{{ .Owner.AccountName }}">
    <input type="submit" value="このユーザと友だちになる" />
  </form>
</div>

</body>
</html>
